<!DOCTYPE html>
<html>
<head>
  <title>Pair</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://towtruck.mozillalabs.com/towtruck.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
